altgraph==0.17.4
annotated-types==0.7.0
anyio==4.6.2.post1
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
dnspython==2.7.0
email_validator==2.2.0
fastapi==0.115.5
h11==0.14.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
packaging==24.2
pefile==2024.8.26
pydantic==2.10.2
pydantic_core==2.27.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
PyMySQL==1.1.1
python-dotenv==1.0.1
python-multipart==0.0.19
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==75.6.0
six==1.16.0
sniffio==1.3.1
starlette==0.41.3
typing_extensions==4.12.2
ujson==5.10.0
urllib3==2.2.3
uvicorn==0.32.1
watchfiles==1.0.0
websockets==14.1
